.sinError{
    border-color: blue;
}
.error{
    border-color: red;
}
table {
    border-radius: 10px 10px 10px 10px;
    border: 2px solid #000000;
    border-collapse: collapse;
    width: 1000px;
    
}

th, td {
    text-align: left;
    border: 2px solid black;
}

tr:nth-child(even) {
    background-color: #D3D1A4;
}
 
tr:nth-child(odd) {
    background-color: #fff;
}

th {
    background-color: #0C22C2;
    color: #E6DC0A;
}
td {
    border: 1px;
}